<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Page cars and their count</title>
        <style>
            TABLE {
                width: 450px; /* Ширина таблицы */
                border-collapse: collapse; /* Убираем двойные линии между ячейками */
            }
            TD, TH {
                padding: 3px; /* Поля вокруг содержимого таблицы */
                border: 1px solid black; /* Параметры рамки */
            }
            TH {
                background: #b0e0e6; /* Цвет фона */
            }
        </style>
    </head>

    <body>
    <h1>Cars table</h1>
    <table>
        <tr>
            <th>Series</th>
            <th>Model</th>
            <th>Color</th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getSeries()}"></td>
            <td th:text="${car.getModel()}">bla</td>
            <td th:text="${car.getColor()}"></td>
        </tr>
    </table>
    </body>
</html>